<ion-header>
  <ion-navbar>
    <ion-title>Table</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="beziqueCardGame.upcard">
    <ion-item-divider>Trump Card</ion-item-divider>
    <ion-item>{{ beziqueCardGame.upcard.longName() }}</ion-item>
  </ion-card>

  <ion-card>
    <ion-item-divider>Played Cards</ion-item-divider>
    <ion-item *ngIf="beziqueCardGame.players[0].playedCard">
      {{ beziqueCardGame.players[0].name }} - {{ beziqueCardGame.players[0].playedCard.longName() }}
    </ion-item>
    <ion-item *ngIf="beziqueCardGame.players[1].playedCard">
      {{ beziqueCardGame.players[1].name }} - {{ beziqueCardGame.players[1].playedCard.longName() }}
    </ion-item>
  </ion-card>

</ion-content>
