<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Table ({{ beziqueCardGame.state.name }})</ion-title>
    <ion-buttons end>
      <button ion-button color="default" (click)="doReset()">
        Reset
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <ion-grid ion-fixed class="table-top">
    <ion-row class="playing-area">
      <ion-col>
        <playing-table></playing-table>
      </ion-col>
    </ion-row>
    <ion-row class="player-area">
      <ion-col>
        <player *ngIf="beziqueCardGame.inTurn" [player]="beziqueCardGame.inTurn" showActions="true"></player>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab top right #fab>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab *ngIf="!authService.authenticated()"><ion-icon name="logo-googleplus" (click)="doLogin(fab)"></ion-icon></button>
      <button ion-fab *ngIf="!authService.authenticated()"><ion-icon name="logo-facebook" (click)="doLogin(fab)"></ion-icon></button>
      <button ion-fab *ngIf="authService.authenticated()"color="default" (click)="doLogout(fab)">Logout</button>
      <button ion-fab (click)="doCreateGame(fab)">Start</button>
    </ion-fab-list>
  </ion-fab>
  <ion-footer>
    <ion-toolbar>
      <p>{{ authService.displayName() }}</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
