<ion-card>
  <ion-item-divider [color]="player.game.inTurn === player ? 'primary' : 'light'">
    {{ player.name }}
    <button ion-button item-right (click)="doDraw(player)" [disabled]="!(player.canDraw())" *ngIf="showActions">
      Draw
    </button>
    <button ion-button item-right (click)="doDece(player)" [disabled]="!(player.canDece())" *ngIf="showActions">
      Dece
    </button>
    <button ion-button item-right (click)="doMeld(player)" [disabled]="!(player.canMeld())" *ngIf="showActions">
      Meld
    </button>
    <button ion-button item-right (click)="doPlay(player)" [disabled]="!(player.canPlay())" *ngIf="showActions">
      Play
    </button>
  </ion-item-divider>
  <cards 
    [cardStack]="player.hand" 
    [selectedStack]="showActions ? player.selectedCards : undefined" 
    [multiSelect]="player.game.state.multiselect">
  </cards>
  <ion-item-divider color="dark" *ngIf="!player.melds.isEmpty()">
    Melds
  </ion-item-divider>
  <cards [cardStack]="player.melds" [selectedStack]="player.selectedCards"></cards>
  <ion-item-divider color="light" *ngIf="!player.wonCards.isEmpty()">
    Won cards
  </ion-item-divider>
  <cards [cardStack]="player.wonCards" *ngIf="!player.wonCards.isEmpty()"></cards>
</ion-card>
