<ion-card>
  <ion-item-divider [color]="player.game.inTurn === player ? 'primary' : 'light'">
    {{ player.name }}
    <button ion-button item-right (click)="doDraw(player)" [disabled]="!(player.canDraw())">
      Draw
    </button>
    <button ion-button item-right (click)="doPlay(player)" [disabled]="!(player.canPlay())">
      Play
    </button>
  </ion-item-divider>
  <ion-item-divider color="dark">
    Cards in hand
  </ion-item-divider>
  <cards [cardStack]="player.hand" [selectedStack]="player.selectedCards"></cards>
  <ion-item-divider color="dark" *ngIf="!player.melds.isEmpty()">
    Melds
  </ion-item-divider>
  <cards [cardStack]="player.melds" [selectedStack]="player.selectedCards"></cards>
  <ion-item-divider color="light">
    Available melds
    <button ion-button item-right (click)="doMeld(player)" [disabled]="!(player.canMeld())">
      Meld
    </button>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label>Royal Marriage</ion-label>
      <ion-checkbox>KC, QC</ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item-divider *ngIf="!player.wonCards.isEmpty()">
    Won cards
  </ion-item-divider>
  <ion-item *ngIf="!player.wonCards.isEmpty()">
    {{ player.wonCards.toString() }}
  </ion-item>
</ion-card>
